In [1]:
import pandas as pd

In [22]:
df = pd.read_json('test_exercise.JSON')

In [3]:
df

                                                                  items
counterparty                                                ООО Ромашка
date                                                2023-04-04T12:34:35
id_document                                                      000001
organization                                          ООО Рога и Копыта
products              [{'nomenclature_name': 'Печенье', 'summa': 192...
products_total_nds                                                 None
products_total_price                                               None
type_nds                                                        VAT_Top

In [7]:
 # Сброс ограничений на количество выводимых рядов 
pd.set_option('display.max_rows', None)   

# Сброс ограничений на число столбцов 
pd.set_option('display.max_columns', None)   

# Сброс ограничений на количество символов в записи 
pd.set_option('display.max_colwidth', None)

In [8]:
df

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 items
counterparty                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ООО Ромашка
date                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               2023-04-04T12:34:35
id_document                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     000001
organization                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ООО Рога и Копыта
products              [{'nomenclature_name': 'Печенье', 'summa': 192, 'price': 16, 'quantity': 12, 'vat': '0_18', 'total': None}, {'nomenclature_name': 'Миникруассаны', 'summa': 35593.2, 'price': 296.61, 'quantity': 120, 'vat': '0_18', 'total': None}, {'nomenclature_name': 'Вафли', 'summa': 574, 'price': 82, 'quantity': 7, 'vat': '0_18', 'total': None}, {'nomenclature_name': 'Пирог', 'summa': 2964, 'price': 114, 'quantity': 26, 'vat': '0_20', 'total': None}, {'nomenclature_name': 'Миникруассаны', 'summa': 35593.2, 'price': 296.61, 'quantity': 120, 'vat': '0_18', 'total': None}, {'nomenclature_name': 'Пирог с вишней', 'summa': 372, 'price': 124, 'quantity': None, 'vat': '0_18', 'total': None}, {'nomenclature_name': 'Вафли', 'summa': 574, 'price': 82, 'quantity': 7, 'vat': '0_18', 'total': None}, {'nomenclature_name': 'Вафли Венские', 'summa': None, 'price': 33, 'quantity': 5, 'vat': '0_20', 'total': None}]
products_total_nds                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                None
products_total_price                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              None
type_nds                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       VAT_Top

In [15]:
new_df = df.iloc[4]

In [16]:
new_df

items    [{'nomenclature_name': 'Печенье', 'summa': 192, 'price': 16, 'quantity': 12, 'vat': '0_18', 'total': None}, {'nomenclature_name': 'Миникруассаны', 'summa': 35593.2, 'price': 296.61, 'quantity': 120, 'vat': '0_18', 'total': None}, {'nomenclature_name': 'Вафли', 'summa': 574, 'price': 82, 'quantity': 7, 'vat': '0_18', 'total': None}, {'nomenclature_name': 'Пирог', 'summa': 2964, 'price': 114, 'quantity': 26, 'vat': '0_20', 'total': None}, {'nomenclature_name': 'Миникруассаны', 'summa': 35593.2, 'price': 296.61, 'quantity': 120, 'vat': '0_18', 'total': None}, {'nomenclature_name': 'Пирог с вишней', 'summa': 372, 'price': 124, 'quantity': None, 'vat': '0_18', 'total': None}, {'nomenclature_name': 'Вафли', 'summa': 574, 'price': 82, 'quantity': 7, 'vat': '0_18', 'total': None}, {'nomenclature_name': 'Вафли Венские', 'summa': None, 'price': 33, 'quantity': 5, 'vat': '0_20', 'total': None}]
Name: products, dtype: object

In [24]:
new_df1 = new_df.reindex(['nomenclature_name', 'price', 'summa', 'quantity', 'vat', 'total'])
#new_df[['nomenclature_name', 'price', 'summa', 'quantity', 'vat', 'total']]

In [25]:
new_df1

nomenclature_name    NaN
price                NaN
summa                NaN
quantity             NaN
vat                  NaN
total                NaN
Name: products, dtype: object

In [45]:
df3 = list(new_df.values)
df3

[[{'nomenclature_name': 'Печенье',
   'summa': 192,
   'price': 16,
   'quantity': 12,
   'vat': '0_18',
   'total': None},
  {'nomenclature_name': 'Миникруассаны',
   'summa': 35593.2,
   'price': 296.61,
   'quantity': 120,
   'vat': '0_18',
   'total': None},
  {'nomenclature_name': 'Вафли',
   'summa': 574,
   'price': 82,
   'quantity': 7,
   'vat': '0_18',
   'total': None},
  {'nomenclature_name': 'Пирог',
   'summa': 2964,
   'price': 114,
   'quantity': 26,
   'vat': '0_20',
   'total': None},
  {'nomenclature_name': 'Миникруассаны',
   'summa': 35593.2,
   'price': 296.61,
   'quantity': 120,
   'vat': '0_18',
   'total': None},
  {'nomenclature_name': 'Пирог с вишней',
   'summa': 372,
   'price': 124,
   'quantity': None,
   'vat': '0_18',
   'total': None},
  {'nomenclature_name': 'Вафли',
   'summa': 574,
   'price': 82,
   'quantity': 7,
   'vat': '0_18',
   'total': None},
  {'nomenclature_name': 'Вафли Венские',
   'summa': None,
   'price': 33,
   'quantity': 5,
   'vat': '0_20',
   'total': None}]]

In [112]:
for i in df3[0]:
    d = i
    print(d)

{'nomenclature_name': 'Печенье', 'summa': 192, 'price': 16, 'quantity': 12, 'vat': '0_18', 'total': None}
{'nomenclature_name': 'Миникруассаны', 'summa': 35593.2, 'price': 296.61, 'quantity': 120, 'vat': '0_18', 'total': None}
{'nomenclature_name': 'Вафли', 'summa': 574, 'price': 82, 'quantity': 7, 'vat': '0_18', 'total': None}
{'nomenclature_name': 'Пирог', 'summa': 2964, 'price': 114, 'quantity': 26, 'vat': '0_20', 'total': None}
{'nomenclature_name': 'Миникруассаны', 'summa': 35593.2, 'price': 296.61, 'quantity': 120, 'vat': '0_18', 'total': None}
{'nomenclature_name': 'Пирог с вишней', 'summa': 372, 'price': 124, 'quantity': None, 'vat': '0_18', 'total': None}
{'nomenclature_name': 'Вафли', 'summa': 574, 'price': 82, 'quantity': 7, 'vat': '0_18', 'total': None}
{'nomenclature_name': 'Вафли Венские', 'price': 33, 'quantity': 5, 'vat': '0_20'}

In [111]:
d

{'nomenclature_name': 'Вафли Венские',
 'price': 33,
 'quantity': 5,
 'vat': '0_20'}

In [138]:
new_dict = {}

keys = ('summa', 'total')
for i in df3[0]:     
    d = i     
    for key, value in d.items():         
        if value is not None:                  
            new_dict[key] = value
    print(new_dict)

{'nomenclature_name': 'Печенье', 'summa': 192, 'price': 16, 'quantity': 12, 'vat': '0_18'}
{'nomenclature_name': 'Миникруассаны', 'summa': 35593.2, 'price': 296.61, 'quantity': 120, 'vat': '0_18'}
{'nomenclature_name': 'Вафли', 'summa': 574, 'price': 82, 'quantity': 7, 'vat': '0_18'}
{'nomenclature_name': 'Пирог', 'summa': 2964, 'price': 114, 'quantity': 26, 'vat': '0_20'}
{'nomenclature_name': 'Миникруассаны', 'summa': 35593.2, 'price': 296.61, 'quantity': 120, 'vat': '0_18'}
{'nomenclature_name': 'Пирог с вишней', 'summa': 372, 'price': 124, 'quantity': 120, 'vat': '0_18'}
{'nomenclature_name': 'Вафли', 'summa': 574, 'price': 82, 'quantity': 7, 'vat': '0_18'}
{'nomenclature_name': 'Вафли Венские', 'summa': 574, 'price': 33, 'quantity': 5, 'vat': '0_20'}

In [142]:
new_dict = {}  
keys = ('summa', 'total') 
for i in df3[0]:          
    d = i          
    for key, value in d.items():                  
        if value is not None:                               
            new_dict[key] = value     
    the_sum = new_dict['summa'] * 0.2
    print(the_sum)

38.400000000000006
7118.639999999999
114.80000000000001
592.8000000000001
7118.639999999999
74.4
114.80000000000001
114.80000000000001

In [172]:
new_dict = {} 
count = 0
sumу = 0 
keys = ('summa', 'total')  
for i in df3[0]:               
    d = i               
    for key, value in d.items():                           
        if value is not None:                                            
            new_dict[key] = value          
    the_sum = int(new_dict['summa'] * 0.2)
    print(the_sum)

38
7118
114
592
7118
74
114
114

In [175]:
products_total_nds = 38+7118+114+592+7118+74+114+114
products_total_nds

15282

In [ ]:
products_total_price

In [176]:
new_dict = {}  
count = 0 
sumу = 0  
keys = ('summa', 'total')   
for i in df3[0]:                    
    d = i                    
    for key, value in d.items():                                    
        if value is not None:                                                         
            new_dict[key] = value               
    the_sum = int(new_dict['price'])     
    print(the_sum)

16
296
82
114
296
124
82
33

In [177]:
products_total_price = 16+296+82+114+296+124+82+33
products_total_price

1043

In [185]:
new_dict = {}   
count = 0  
sumу = 0   
keys = ('summa', 'total')    
for i in df3[0]:                         
    d = i                         
    for key, value in d.items():                                             
        if value is not None:                                                                      
            new_dict[key] = value 
    the_sum = int(new_dict['price'])           
    print(the_sum > 100)

False
True
False
True
True
True
False
False

In [188]:
new_df = df.iloc[1]
new_df

items    2023-04-04T12:34:35
Name: date, dtype: object

In [53]:
for i in df3:
    print(i)

[{'nomenclature_name': 'Печенье', 'summa': 192, 'price': 16, 'quantity': 12, 'vat': '0_18', 'total': None}, {'nomenclature_name': 'Миникруассаны', 'summa': 35593.2, 'price': 296.61, 'quantity': 120, 'vat': '0_18', 'total': None}, {'nomenclature_name': 'Вафли', 'summa': 574, 'price': 82, 'quantity': 7, 'vat': '0_18', 'total': None}, {'nomenclature_name': 'Пирог', 'summa': 2964, 'price': 114, 'quantity': 26, 'vat': '0_20', 'total': None}, {'nomenclature_name': 'Миникруассаны', 'summa': 35593.2, 'price': 296.61, 'quantity': 120, 'vat': '0_18', 'total': None}, {'nomenclature_name': 'Пирог с вишней', 'summa': 372, 'price': 124, 'quantity': None, 'vat': '0_18', 'total': None}, {'nomenclature_name': 'Вафли', 'summa': 574, 'price': 82, 'quantity': 7, 'vat': '0_18', 'total': None}, {'nomenclature_name': 'Вафли Венские', 'summa': None, 'price': 33, 'quantity': 5, 'vat': '0_20', 'total': None}]

In [44]:
df4 = pd.DataFrame(df3)
df4

,0,1,2,3,4,5,6,7
0,"{'nomenclature_name': 'Печенье', 'summa': 192, 'price': 16, 'quantity': 12, 'vat': '0_18', 'total': None}","{'nomenclature_name': 'Миникруассаны', 'summa': 35593.2, 'price': 296.61, 'quantity': 120, 'vat': '0_18', 'total': None}","{'nomenclature_name': 'Вафли', 'summa': 574, 'price': 82, 'quantity': 7, 'vat': '0_18', 'total': None}","{'nomenclature_name': 'Пирог', 'summa': 2964, 'price': 114, 'quantity': 26, 'vat': '0_20', 'total': None}","{'nomenclature_name': 'Миникруассаны', 'summa': 35593.2, 'price': 296.61, 'quantity': 120, 'vat': '0_18', 'total': None}","{'nomenclature_name': 'Пирог с вишней', 'summa': 372, 'price': 124, 'quantity': None, 'vat': '0_18', 'total': None}","{'nomenclature_name': 'Вафли', 'summa': 574, 'price': 82, 'quantity': 7, 'vat': '0_18', 'total': None}","{'nomenclature_name': 'Вафли Венские', 'summa': None, 'price': 33, 'quantity': 5, 'vat': '0_20', 'total': None}"